*{
    margin: 0;
    padding: 0;

}

body{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(images/background/background.jfif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    padding-top: 20px;
}

.icon{
    width: 180px;
    float: left;
    height: 70px;
}

.logo{
    color: #8a2be2;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float:right;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #8a2be2;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #8a2be2;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #8a2be2;
    border: 2px solid #8a2be2;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.poster {
    padding:30px;
    font-family:'Roboto';
    font-size:16px;
    font-weight:300;
    line-height:24px;
}
.float{
    margin: 50px;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
   }
mark{
    background-color:gray ;
}
#player {
    width: 25%;
    height:20px;
    background-blend-mode: color;

   }
  
  audio:hover, audio:focus, audio:active
  {
  -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  box-sizing: content-box;
  box-decoration-break:clone;
  }